html,
body,
#root {
  height: 100%;
}

.gradient-purple {
  background: linear-gradient(130.23deg, #242545 0%, #100c20 50%, #370c57 100%) !important;
}

.identity-solana,
.identity-login-discord,
.gradient-pink {
  background: linear-gradient(111.92deg, #a770ef 0%, #cf8bf3 51%, #a770ef 100%) !important;
}

.gradient-navbar {
  background: linear-gradient(
    111.92deg,
    rgba(167, 112, 239, 0.05) 0%,
    rgba(207, 139, 243, 0.05) 51%,
    rgba(167, 112, 239, 0.05) 100%
  ) !important;
}

.gradient-card {
  background: linear-gradient(0deg, rgba(224, 206, 248, 0.16), rgba(224, 206, 248, 0.16)) !important;
}

.core-ui-content :is(h1, h2, h3, h4, h5, h6) {
  margin-top: 0 !important;
}
.core-ui-content :is(.core-ui-content-image) {
  max-height: 600px;
  max-width: 100%;
}
